mixin list-articles(news, type)
    .col-sm-4
        .news
            .img-figure
                .cat #{news.category.name}
                img.img-responsive(src=news.imgLink)
            .title
                h1 #{news.title}
            - var shortBody =  news.body.substring(0.20);
            p.description
                | #{shortBody}
            p.more
                a(href=type +"/"+ news._id) read more
                i.fa.fa-angle-right(aria-hidden='true')

mixin delete-that-mixin-later(params)
    .col-sm-4
        .news
            .img-figure
                .cat fashion
                img.img-responsive(src='http://images.nintendolife.com/games/wiiu-eshop/never_alone/cover_medium.jpg')
            .title
                h1 The start of the web and web design
            p.description
                | If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden...
            p.more
                a(href='#') read more
                i.fa.fa-angle-right(aria-hidden='true')

mixin delete-this-too(params)
    .col-sm-4
        .news
            .img-figure
                .cat fashion
                img.img-responsive(src='https://s-media-cache-ak0.pinimg.com/originals/f8/78/f2/f878f26dca3c89741ad3f2ae9c91b9c1.jpg')
            .title
                h1 The start of the web and web design
            p.description
                | If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden...
            p.more
                a(href='#') read more
                i.fa.fa-angle-right(aria-hidden='true')


mixin article-generator(article, type)
    .row
        .col-md-12
            .well.article-big-form
                a(href= type + '/'+ article._id)
                    .date.primary
                        span.article-date= ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'][article.createdAt.getMonth()]
                        span.article-number= article.createdAt.getDate()
                    .row
                        .col-md-6
                            .image
                                img(src=article.imgLink, alt='')
                        .col-md-6
                            .article-details
                                h2= article.title
                                - var subText = (article.body).substring(0,150)+'...'
                                p= subText


mixin paging-generator(pagesCount)
    .row
        #pagination-box.center-block
            nav(aria-label='Page navigation')
                ul.pagination
                    li
                        a(aria-label='Previous')
                            span(aria-hidden='true') «
                    li.active
                        a(href='/news?page=1') 1
                    if pagesCount > 1
                    - var n = 2;
                    while n <= pagesCount
                        li
                            a(href='/news?page='+ n)= n++
                    li
                        a(aria-label='Next')
                            span(aria-hidden='true') »