mixin list-articles(article, type)
    .col-sm-4
        .news
            .img-figure
                .cat #{article.category.name}
                img.img-responsive(src=article.imgLink)
            .title
                h1 #{article.title}
            - var shortBody =  article.body.substring(0,100);
            p.description
                | #{shortBody}...
            p.more
                a(href="/"+type +"/"+ article._id) read more
                i.fa.fa-angle-right(aria-hidden='true')


mixin article-generator(article, type)
    .row
        .col-md-12
            .well.article-big-form
                a(href= type + '/'+ article._id)
                    .date.primary
                        span.article-date= ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'][article.createdAt.getMonth()]
                        span.article-number= article.createdAt.getDate()
                    .row
                        .col-md-6
                            .image
                                img(src=article.imgLink, alt='')
                        .col-md-6
                            .article-details
                                h2= article.title
                                - var subText = (article.body).substring(0,150)+'...'
                                p= subText


mixin paging-generator(pagesCount, type)
    .row
        #pagination-box.center-block
            nav(aria-label='Page navigation')
                ul.pagination
                    li
                        a(aria-label='Previous')
                            span(aria-hidden='true') «
                    li.active
                        a(href='/'+type+'?page=1') 1
                    if pagesCount > 1
                    - var n = 2;
                    while n <= pagesCount
                        li
                            a(href='/'+type+'?page='+ n)= n++
                    li
                        a(aria-label='Next')
                            span(aria-hidden='true') »