extends _layout.pug

block main-content
    if(currentUser)
        .container
            .row
                .col-xs-12.col-sm-6.col-md-6
                    .well.well-sm
                        .row
                            .col-sm-6.col-md-4
                                img.img-rounded.img-responsive(src="", alt="")
                            .col-sm-6.col-md-8
                                h4 Username: #{currentUser.username}
                                i.glyphicon.glyphicon-envelope 
                                    span #{currentUser.email}
                                br
                                i.glyphicon.glyphicon-user 
                                    span Full Name: #{currentUser.firstName} #{currentUser.lastName}
                                br
                                i.glyphicon.glyphicon-education
                                    span User Status: #{currentUser.role}
                                br
